In [1]:
! pip install pandas
! pip install petl
! pip install openpyxl
! pip install global

zsh:1: command not found: pip
zsh:1: command not found: pip
zsh:1: command not found: pip
zsh:1: command not found: pip

In [2]:
import pandas as pd
import petl as etl
import glob, os, json

In [3]:
#check CSV dfs
#product_data =  etl.fromcsv('product_data/2010-2020_Bassetlaw_outlet.csv')
#product_data.look()

In [4]:
#check json dfs
#json_table = etl.fromjson('json_table/2010-2020_Ceredigion_store.json')
#json_table.look()

In [5]:
#concatenate all CSV files 
path= "original_product_data/"

all_files = glob.glob(os.path.join(path, "*.csv"))
all_df = []
for f in all_files:
    print ("...")
    df = pd.read_csv(f, sep=',')
    #2010-2020_Bassetlaw_outlet.csv
    file_name= " ".join(f.split('/')[-1].split("_")[1:]).replace(".csv", "").strip()
    df['branch'] = file_name
    all_df.append(df)
    
        
merged_df = pd.concat(all_df, ignore_index=True, sort=True)
merged_df

...
...

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...

,amount_in_gbp,branch,category,day,hour,item,manufactuter,month,price,product,quantity,quantity_purchased,sku,total_quantity,total_quantity_purchased,year
0,232.96,Lincoln branch,NaN,23.0,0.0,sea bass fillets,NaN,1.0,NaN,NaN,104,NaN,NaN,NaN,NaN,2010.0
1,10.56,Lincoln branch,NaN,23.0,0.0,British carrots loose,NaN,1.0,NaN,NaN,33,NaN,NaN,NaN,NaN,2010.0
2,3456.00,Lincoln branch,NaN,23.0,0.0,god of war 2,NaN,1.0,NaN,NaN,216,NaN,NaN,NaN,NaN,2010.0
3,10291.20,Lincoln branch,NaN,23.0,0.0,silk scarf,NaN,1.0,NaN,NaN,96,NaN,NaN,NaN,NaN,2010.0
4,505.60,Lincoln branch,NaN,23.0,0.0,large king prawns,NaN,1.0,NaN,NaN,158,NaN,NaN,NaN,NaN,2010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42181901,36.50,Flintshire branch,NaN,14.0,23.0,NaN,NaN,12.0,NaN,NaN,NaN,73,pain au raisins,NaN,NaN,2020.0
42181902,306.00,Flintshire branch,NaN,14.0,23.0,NaN,NaN,12.0,NaN,NaN,NaN,102,diced chicken breast,NaN,NaN,2020.0
42181903,233800.00,Flintshire branch,NaN,14.0,23.0,NaN,NaN,12.0,NaN,NaN,NaN,167,hp dv 3000 laptop,NaN,NaN,2020.0
42181904,89.00,Flintshire branch,NaN,14.0,23.0,NaN,NaN,12.0,NaN,NaN,NaN,89,Slightly salted butter,NaN,NaN,2020.0
42181905,231.00,Flintshire branch,NaN,14.0,23.0,NaN,NaN,12.0,NaN,NaN,NaN,231,organic soured cream,NaN,NaN,2020.0

In [6]:
merged_df.to_csv("csv_product_data.csv")

In [7]:
import glob, os, json

path = 'json_files_dir.csv/'

file_list = glob.glob(os.path.join(path, "*.json"))
#print(file_list)

dfjson = []
for file in file_list:
    
    print("...")
    json_data = pd.read_json(file)
    file_name= " ".join(file.split('/')[-1].split("_")[1:]).replace(".json", "").strip()
    json_data['branch'] = file_name 
    
    #print(file)


    dfjson.append(json_data)
    merge_dfjson = pd.concat(dfjson, ignore_index=True, sort=True)
(merge_dfjson)

...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...
...

,amount_in_gbp,branch,day,hour,item,month,product,quantity,quantity_purchased,sku,total_quantity,total_quantity_purchased,year
0,212.1340,Bedford Borough branch,28,0,Organic Kefir,1,NaN,NaN,199,NaN,NaN,NaN,2011
1,323.2768,Bedford Borough branch,28,0,british bramley cooking apples,1,NaN,NaN,224,NaN,NaN,NaN,2011
2,3148.8000,Bedford Borough branch,28,0,god of war 2,1,NaN,NaN,192,NaN,NaN,NaN,2011
3,68.0600,Bedford Borough branch,28,0,vanilla yoghurt,1,NaN,NaN,83,NaN,NaN,NaN,2011
4,15379.1000,Bedford Borough branch,28,0,gameboy advance,1,NaN,NaN,121,NaN,NaN,NaN,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45560532,744.0000,Richmondshire outlet,23,23,NaN,12,wellington boots,NaN,NaN,NaN,NaN,31,2020
45560533,137.7600,Richmondshire outlet,23,23,NaN,12,british parsnips loose,NaN,NaN,NaN,NaN,164,2020
45560534,241.4000,Richmondshire outlet,23,23,NaN,12,fresh whole turkey,NaN,NaN,NaN,NaN,142,2020
45560535,40.0000,Richmondshire outlet,23,23,NaN,12,millionaire square,NaN,NaN,NaN,NaN,20,2020
45560536,56700.0000,Richmondshire outlet,23,23,NaN,12,dyson vacuum cleaner,NaN,NaN,NaN,NaN,81,2020

In [8]:
#export to csv single file
merge_dfjson.to_csv("json_product_data.csv")

In [9]:
#inspect excel branch expenses data and create table
expenses_db_table_excel=etl.fromxlsx('xlsx/branch_expenses.xlsx')
expenses_db_table_excel.look()

+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| year   | month | region            | county         | branch_name          | established_on | operational_cost | staff_bonuses | misc_expenses | waste_cost |
+========+=======+===================+================+======================+================+==================+===============+===============+============+
| 2012.0 |   1.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2785.0 |         232.0 |        7793.0 |     4729.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   2.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2058.0 |         260.0 |        3559.0 |     3539.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   3.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2222.0 |         319.0 |        7320.0 |     2809.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   4.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2324.0 |         271.0 |        3352.0 |     3704.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
| 2012.0 |   5.0 | 'East of England' | 'Bedfordshire' | 'Bedfordshire store' |         2012.0 |           2489.0 |         263.0 |        5834.0 |     3872.0 |
+--------+-------+-------------------+----------------+----------------------+----------------+------------------+---------------+---------------+------------+
...

In [10]:
#inspect excel branch list data and create table
blist_db_table_excel=etl.fromxlsx('xlsx/branch_list.xlsx')
blist_db_table_excel.look()

+-------------------+-----------------------+------------------------------+----------------+
| region            | county                | branch_name                  | established_on |
+===================+=======================+==============================+================+
| 'East of England' | 'Bedfordshire'        | 'Bedfordshire store'         |         2012.0 |
+-------------------+-----------------------+------------------------------+----------------+
| 'East of England' | 'East Cambridgeshire' | 'East Cambridgeshire outlet' |         2010.0 |
+-------------------+-----------------------+------------------------------+----------------+
| 'West Midlands'   | 'Warwickshire'        | 'Warwickshire branch'        |         2010.0 |
+-------------------+-----------------------+------------------------------+----------------+
| 'East Midlands'   | 'Lincolnshire'        | 'Lincolnshire store'         |         2012.0 |
+-------------------+-----------------------+------------------------------+----------------+
| 'London'          | 'Islington'           | 'Islington branch'           |         2011.0 |
+-------------------+-----------------------+------------------------------+----------------+
...

In [11]:
#inspect product list data and create table
product_list = etl.fromcsv('original_product_data/products_list.csv')
product_list.look()

+---------------------------------+--------------+-----------------------+--------+
| product                         | manufactuter | category              | price  |
+=================================+==============+=======================+========+
| 'Fairtrade Bananas Loose'       | 'sainsburys' | 'fruits & vegetable'  | '0.79' |
+---------------------------------+--------------+-----------------------+--------+
| 'British carrots loose'         | 'sainsburys' | 'fruits & vegetables' | '0.4'  |
+---------------------------------+--------------+-----------------------+--------+
| 'Onions Loose'                  | 'sainsburys' | 'fruits & vegetables' | '0.85' |
+---------------------------------+--------------+-----------------------+--------+
| 'British baking potatoes loose' | 'sainsburys' | 'fruits & vegetables' | '0.83' |
+---------------------------------+--------------+-----------------------+--------+
| 'Red pepper'                    | 'sainsburys' | 'fruits & vegetables' | '0.42' |
+---------------------------------+--------------+-----------------------+--------+
...

In [12]:
#merge two excel tables
table_c_excel = etl.join(blist_db_table_excel, expenses_db_table_excel)
table_c_excel.look()

+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| region          | county      | branch_name        | established_on | year   | month | operational_cost | staff_bonuses | misc_expenses | waste_cost |
+=================+=============+====================+================+========+=======+==================+===============+===============+============+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   1.0 |           2838.0 |         296.0 |        9455.0 |     6366.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   2.0 |           2280.0 |         313.0 |        4346.0 |     6003.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   3.0 |           2327.0 |         312.0 |        8107.0 |     5990.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   4.0 |           3028.0 |         269.0 |        8353.0 |     2354.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   5.0 |           3226.0 |         296.0 |        7532.0 |     6455.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
...

In [13]:
#rename column in excel table in accordance to the previous tables
table_d_excel = etl.rename(table_c_excel, 'branch_name','branch')
table_d_excel.look()

+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| region          | county      | branch             | established_on | year   | month | operational_cost | staff_bonuses | misc_expenses | waste_cost |
+=================+=============+====================+================+========+=======+==================+===============+===============+============+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   1.0 |           2838.0 |         296.0 |        9455.0 |     6366.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   2.0 |           2280.0 |         313.0 |        4346.0 |     6003.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   3.0 |           2327.0 |         312.0 |        8107.0 |     5990.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   4.0 |           3028.0 |         269.0 |        8353.0 |     2354.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| 'East Midlands' | 'Bassetlaw' | 'Bassetlaw outlet' |         2010.0 | 2010.0 |   5.0 |           3226.0 |         296.0 |        7532.0 |     6455.0 |
+-----------------+-------------+--------------------+----------------+--------+-------+------------------+---------------+---------------+------------+
...

In [14]:
#already edited csv file data to etl table for manipulation
db_table_csv=etl.fromcsv('manipulated_data/csv_product_data.csv')
db_table_csv.look()

+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+
|     | year   | month | day | hour | sku                     | quantity_purchased | amount_in_gbp        | branch              |
+=====+========+=======+=====+======+=========================+====================+======================+=====================+
| '0' | '2010' | '1'   | '5' | '0'  | 'god of war 2'          | '216'              | '3456.0'             | 'Flintshire branch' |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+
| '1' | '2010' | '1'   | '5' | '0'  | 'Onions Loose'          | '207'              | '140.76000000000002' | 'Flintshire branch' |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+
| '2' | '2010' | '1'   | '5' | '0'  | 'Oats Milk'             | '179'              | '272.08'             | 'Flintshire branch' |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+
| '3' | '2010' | '1'   | '5' | '0'  | 'dyson washing machine' | '40'               | '9600.0'             | 'Flintshire branch' |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+
| '4' | '2010' | '1'   | '5' | '0'  | 'unsalted butter'       | '9'                | '7.2'                | 'Flintshire branch' |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+
...

In [15]:
#already edited json file data to etl table for manipulation
db_table_json=etl.fromcsv('manipulated_data/json_product_data.csv')
db_table_json.look()

+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+
|     | year   | month | day  | hour | product                      | total_quantity_purchased | amount_in_gbp | branch                                |
+=====+========+=======+======+======+==============================+==========================+===============+=======================================+
| '0' | '2010' | '1'   | '24' | '0'  | 'apple macbook air mid 2009' | '5'                      | '7600.0'      | '2010-2020_Richmondshire_outlet.json' |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+
| '1' | '2010' | '1'   | '24' | '0'  | 'scottish salmon'            | '85'                     | '272.0'       | '2010-2020_Richmondshire_outlet.json' |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+
| '2' | '2010' | '1'   | '24' | '0'  | 'mature cheddar cheese'      | '21'                     | '40.32'       | '2010-2020_Richmondshire_outlet.json' |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+
| '3' | '2010' | '1'   | '24' | '0'  | 'Sweet potatoes loose'       | '37'                     | '32.56'       | '2010-2020_Richmondshire_outlet.json' |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+
| '4' | '2010' | '1'   | '24' | '0'  | 'pink blazers'               | '207'                    | '8280.0'      | '2010-2020_Richmondshire_outlet.json' |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+
...

In [16]:
#join json table and excel table
final_table_json=etl.lookupjoin(db_table_json, table_d_excel, key='branch')
final_table_json.look()

+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+--------+--------+----------------+------+-------+------------------+---------------+---------------+------------+
|     | year   | month | day  | hour | product                      | total_quantity_purchased | amount_in_gbp | branch                                | region | county | established_on | year | month | operational_cost | staff_bonuses | misc_expenses | waste_cost |
+=====+========+=======+======+======+==============================+==========================+===============+=======================================+========+========+================+======+=======+==================+===============+===============+============+
| '0' | '2010' | '1'   | '24' | '0'  | 'apple macbook air mid 2009' | '5'                      | '7600.0'      | '2010-2020_Richmondshire_outlet.json' | None   | None   | None           | None | None  | None             | None          | None          | None       |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+--------+--------+----------------+------+-------+------------------+---------------+---------------+------------+
| '1' | '2010' | '1'   | '24' | '0'  | 'scottish salmon'            | '85'                     | '272.0'       | '2010-2020_Richmondshire_outlet.json' | None   | None   | None           | None | None  | None             | None          | None          | None       |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+--------+--------+----------------+------+-------+------------------+---------------+---------------+------------+
| '2' | '2010' | '1'   | '24' | '0'  | 'mature cheddar cheese'      | '21'                     | '40.32'       | '2010-2020_Richmondshire_outlet.json' | None   | None   | None           | None | None  | None             | None          | None          | None       |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+--------+--------+----------------+------+-------+------------------+---------------+---------------+------------+
| '3' | '2010' | '1'   | '24' | '0'  | 'Sweet potatoes loose'       | '37'                     | '32.56'       | '2010-2020_Richmondshire_outlet.json' | None   | None   | None           | None | None  | None             | None          | None          | None       |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+--------+--------+----------------+------+-------+------------------+---------------+---------------+------------+
| '4' | '2010' | '1'   | '24' | '0'  | 'pink blazers'               | '207'                    | '8280.0'      | '2010-2020_Richmondshire_outlet.json' | None   | None   | None           | None | None  | None             | None          | None          | None       |
+-----+--------+-------+------+------+------------------------------+--------------------------+---------------+---------------------------------------+--------+--------+----------------+------+-------+------------------+---------------+---------------+------------+
...

In [17]:
#join csv table and excel table
final_table_csv=etl.lookupjoin(db_table_csv, table_d_excel, key='branch')
final_table_csv.look()

+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+
|     | year   | month | day | hour | sku                     | quantity_purchased | amount_in_gbp        | branch              | region  | county       | established_on | year   | month | operational_cost | staff_bonuses | misc_expenses | waste_cost |
+=====+========+=======+=====+======+=========================+====================+======================+=====================+=========+==============+================+========+=======+==================+===============+===============+============+
| '0' | '2010' | '1'   | '5' | '0'  | 'god of war 2'          | '216'              | '3456.0'             | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | 2010.0 |   1.0 |           2864.0 |         306.0 |        7853.0 |     6479.0 |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| '1' | '2010' | '1'   | '5' | '0'  | 'Onions Loose'          | '207'              | '140.76000000000002' | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | 2010.0 |   1.0 |           2864.0 |         306.0 |        7853.0 |     6479.0 |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| '2' | '2010' | '1'   | '5' | '0'  | 'Oats Milk'             | '179'              | '272.08'             | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | 2010.0 |   1.0 |           2864.0 |         306.0 |        7853.0 |     6479.0 |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| '3' | '2010' | '1'   | '5' | '0'  | 'dyson washing machine' | '40'               | '9600.0'             | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | 2010.0 |   1.0 |           2864.0 |         306.0 |        7853.0 |     6479.0 |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+
| '4' | '2010' | '1'   | '5' | '0'  | 'unsalted butter'       | '9'                | '7.2'                | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | 2010.0 |   1.0 |           2864.0 |         306.0 |        7853.0 |     6479.0 |
+-----+--------+-------+-----+------+-------------------------+--------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+
...

In [18]:
#concatenation of json and csv table
final_unified_table= etl.cat(final_table_json, final_table_csv)

In [19]:
final_unified_table= etl.leftjoin(final_unified_table, product_list, key='product')
final_unified_table.look()

+-----+--------+-------+-----+------+---------+--------------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+-------------------------+--------------------+--------------+----------+-------+
|     | year   | month | day | hour | product | total_quantity_purchased | amount_in_gbp        | branch              | region  | county       | established_on | year   | month | operational_cost | staff_bonuses | misc_expenses | waste_cost | sku                     | quantity_purchased | manufactuter | category | price |
+=====+========+=======+=====+======+=========+==========================+======================+=====================+=========+==============+================+========+=======+==================+===============+===============+============+=========================+====================+==============+==========+=======+
| '0' | '2010' | '1'   | '5' | '0'  | None    | None                     | '3456.0'             | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | '2010' | '1'   |           2864.0 |         306.0 |        7853.0 |     6479.0 | 'god of war 2'          | '216'              | None         | None     | None  |
+-----+--------+-------+-----+------+---------+--------------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+-------------------------+--------------------+--------------+----------+-------+
| '1' | '2010' | '1'   | '5' | '0'  | None    | None                     | '140.76000000000002' | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | '2010' | '1'   |           2864.0 |         306.0 |        7853.0 |     6479.0 | 'Onions Loose'          | '207'              | None         | None     | None  |
+-----+--------+-------+-----+------+---------+--------------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+-------------------------+--------------------+--------------+----------+-------+
| '2' | '2010' | '1'   | '5' | '0'  | None    | None                     | '272.08'             | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | '2010' | '1'   |           2864.0 |         306.0 |        7853.0 |     6479.0 | 'Oats Milk'             | '179'              | None         | None     | None  |
+-----+--------+-------+-----+------+---------+--------------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+-------------------------+--------------------+--------------+----------+-------+
| '3' | '2010' | '1'   | '5' | '0'  | None    | None                     | '9600.0'             | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | '2010' | '1'   |           2864.0 |         306.0 |        7853.0 |     6479.0 | 'dyson washing machine' | '40'               | None         | None     | None  |
+-----+--------+-------+-----+------+---------+--------------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+-------------------------+--------------------+--------------+----------+-------+
| '4' | '2010' | '1'   | '5' | '0'  | None    | None                     | '7.2'                | 'Flintshire branch' | 'Wales' | 'Flintshire' |         2010.0 | '2010' | '1'   |           2864.0 |         306.0 |        7853.0 |     6479.0 | 'unsalted butter'       | '9'                | None         | None     | None  |
+-----+--------+-------+-----+------+---------+--------------------------+----------------------+---------------------+---------+--------------+----------------+--------+-------+------------------+---------------+---------------+------------+-------------------------+--------------------+--------------+----------+-------+
...

In [29]:
#cleaning of column fields
final_transformed_data_df= etl.addfield(final_unified_table, 'q', lambda cell:['total_quantity_purchased']+cell['quantity_purchased']+cell['total_quantity']+cell['quantity'])

In [32]:
#adding fields to goods column
final_transformed_data_df=etl.addfield(final_transformed_data_df, 'goods', lambda cell:['product']+cell['item']+cell['sku'])

In [34]:
#table cleaning of columns
table_clean= etl.cutout(final_transformed_data_df, 'total_quantity_purchased', 'quantity_purchased', 'product', 'sku' )

In [36]:
#Check before final export
table_clean.look()

TypeError: can only concatenate list (not "str") to list

In [35]:
#export etl table to CSV for filtering and dash 
etl.tocsv(table_clean, 'final_cleaned_df.csv')

TypeError: can only concatenate list (not "str") to list